<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>Chapters</key>
        <array>
            <dict>
                <key>Name</key>
                <string>1. Prehistoric</string>
                <key>ChapterImage</key>
                <string>Chapters_chapterImage.png</string>
                <key>Locked</key>
                <integer>0</integer>
                <key>Levels</key>
                <array>
                    <dict>
                        <key>Name</key>
                        <string>1</string>
                        <key>TmxPath</key>
                        <string>Levels/level1.tmx</string>
                        <key>StarMax</key>
                        <integer>3</integer>
                        <key>Score</key>
                        <integer>0</integer>
                        <key>Star</key>
                        <integer>0</integer>
                        <key>Locked</key>
                        <integer>0</integer>
                    </dict>
                    <dict>
                        <key>Name</key>
                        <string>2</string>
                        <key>TmxPath</key>
                        <string>Levels/level1.tmx</string>
                        <key>StarMax</key>
                        <integer>3</integer>
                        <key>Score</key>
                        <integer>0</integer>
                        <key>Star</key>
                        <integer>0</integer>
                        <key>Locked</key>
                        <integer>1</integer>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>Name</key>
                <string>2. Nowaday</string>
                <key>ChapterImage</key>
                <string>Chapters_chapterImage.png</string>
                <key>Locked</key>
                <integer>1</integer>
                <key>Levels</key>
                <array>
                    <dict>
                        <key>Name</key>
                        <string>1</string>
                        <key>TmxPath</key>
                        <string>Levels/level1.tmx</string>
                        <key>StarMax</key>
                        <integer>3</integer>
                        <key>Score</key>
                        <integer>0</integer>
                        <key>Star</key>
                        <integer>0</integer>
                        <key>Locked</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>Name</key>
                        <string>2</string>
                        <key>TmxPath</key>
                        <string>Levels/level1.tmx</string>
                        <key>StarMax</key>
                        <integer>3</integer>
                        <key>Score</key>
                        <integer>0</integer>
                        <key>Star</key>
                        <integer>0</integer>
                        <key>Locked</key>
                        <integer>1</integer>
                    </dict>
                </array>
            </dict>
<dict>
                <key>Name</key>
                <string>3. Natural</string>
                <key>ChapterImage</key>
                <string>Chapters_chapterImage.png</string>
                <key>Locked</key>
                <integer>0</integer>
                <key>Levels</key>
                <array>
                    <dict>
                        <key>Name</key>
                        <string>1</string>
                        <key>TmxPath</key>
                        <string>Levels/Natural.tmx</string>
                        <key>StarMax</key>
                        <integer>3</integer>
                        <key>Score</key>
                        <integer>0</integer>
                        <key>Star</key>
                        <integer>0</integer>
                        <key>Locked</key>
                        <integer>0</integer>
                    </dict>
                </array>
            </dict>
        </array>
        <key>GameSettings</key>
        <dict>
            <key>CONTACT_DieZone</key>
            <integer>1</integer>
            <key>PlayerJump</key>
            <integer>1500000</integer>
            <key>CONTACT_PLAYER</key>
            <integer>2</integer>
            <key>CONTACT_FLOOR</key>
            <integer>3</integer>
            <key>CONTACT_ITEM</key>
            <integer>4</integer>
            <key>CONTACT_EndGame</key>
            <integer>5</integer>
            <key>CONTACT_EffectItem</key>
            <integer>6</integer>
            <key>CONTACT_BLOCK</key>
            <integer>7</integer>
			<key>CONTACT_ENEMY</key>
            <integer>8</integer>
            <key>PlayerSpeed</key>
            <integer>700000</integer>
            <key>PlayerVelocityLimit</key>
            <integer>500</integer>
			<key>TargetDetectedDistance</key>
            <integer>100</integer>
            <key>JumpLimit</key>
            <integer>5000000</integer>
            <key>JumpStep</key>
            <integer>5000</integer>
            <key>WorldGravity</key>
            <integer>-500</integer>
            <key>PlayerHurt</key>
            <dict>
                <key>x</key>
                <integer>-300000</integer>
                <key>y</key>
                <integer>300000</integer>
            </dict>
        </dict>
    </dict>
</plist>